.container {
    /* Background colour for the container */
    background-color: white;
    /* Margin to pad the container */
    padding: 20px;
}


/* Center the text within <h1> element */
h1 {
    text-align: center;
}

/* Set the height of .card elements to 100% */
.card {
    height: 100%;
}

/* Create a flex layout for .row elements */
.row {
    display: flex;
}

/* Set the flex properties for .col-md-4 elements */
.col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 10px;
}

/* Center the content within the <footer> element */
footer {
    text-align: center;
}

/* Make .card-img-top images responsive */
.card-img-top {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

/* Apply a hover effect to .card-img-top images */
.card-img-top:hover {
    transform: scale(1.1);
}

/* Button design */
.btn-primary {
    /* custom red button */
    background-color: red;
    /* Black text */
    color: black;
}
/* navigation styling  */
.navbar {
    /* Displays the element as a flex container */
    display: flex; 
    /* Centers the flex items horizontally within the container */
    justify-content: center; 
    /* Centers the flex items vertically within the container */
    align-items: center; 
    /* Sets the background color of the navigation bar to black */
    background-color: black; 
    /* Sets the height of the navigation bar */
    height: 50px; 
  }
  
  .navbar a {
    /* Displays the element as a flex container */
    display: flex; 
    /* Centers the flex items vertically within the container */
    align-items: center; 
    /* Sets the text color to white */
    color: white; 
    /* Removes the underline decoration from the links */
    text-decoration: none; 
    /* Adds padding to the links */
    padding: 0 15px; 
  }
  
  .navbar a img {
    /* Sets the height of the images within the navigation links */
    height: 20px; 
    /* Adds a margin to the right of the images within the navigation links */
    margin-right: 5px; 
  }

  /* Responsive adjustments */

/* Make .col-md-4 elements occupy 50% width on medium screens */
@media (min-width: 768px) {
    .col-md-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

/* Make .col-md-4 elements occupy 33.33% width on large screens */
@media (min-width: 992px) {
    .col-md-4 {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}